<%= form_for @drop, html: { "data-role" => "drop-form" } do |f| %>
  <div>
    <%= f.label :text %>
    <%= f.text_field :text %>
  </div>
  <div>
    <%= f.label :photo %>
    <%= f.file_field :photo %>
  </div>
  <%= f.submit %>
<% end %>
