<div data-role="user">
  <h4><%= @user.username %></h4>

  <div>
    <img src="<%= @user.avatar %>">
  </div>
  <% if current_user == @user %>
  <div id="edit">
    <button data-role="edit-profile" value="<%= @user %>">edit profile</button>
  </div>
  <% else %>
    <%= render 'follow_form' %>
  <% end %>

  <section id="follow-container">
    <h4><%= pluralize(@user.followers.count, 'follower') %></h4>    
    <ul data-role="follower-list">
      <li>Loading followers...</li>
    </ul>

  <h4><%= @user.followees.count %> following</h4>
    <ul data-role="followee-list">
      <li>Loading followings...</li>
    </ul>
  </section>

  <h4><%= pluralize(@user.drops.count, 'drop') %></h4>
  <% if current_user == @user %>
  <div class="drops">
  </div>
  <% end %>
</div>

  <%= render partial: "handlebars_show_follower" %>