<%= form_tag "", :"data-role" => "drop-form", :"class" => "new-drop-form pure-form-stacked" do %>
  <button data-button="close-form" class="close"><i class="material-icons md-light md-24">clear</i></button>
  <div>
    <h2>New Drop</h2>
    <%= text_area_tag :"drop[text]", "" %>
  </div>
  <div>
    <%= label_tag "drop[photo]", "ADD A PHOTO", class: "photo-label button raised" %>
    <%= file_field_tag :"drop[photo]", accept: "image/*", class: "photo-button" %>
  </div>
  <%= submit_tag "DROP", class: "submit-button raised" %>
  <div class="loader">
<% end %>
